@import url('https://fonts.googleapis.com/css?family=Muli:300,400,800');
@font-face {
  font-family: 'fontello';
  src: url("http://www.wwu.edu/sites/all/themes/wwuzen/font/fontello.eot?84055489");
  src: url("http://www.wwu.edu/sites/all/themes/wwuzen/font/fontello.eot?84055489#iefix") format('embedded-opentype'),
  url("http://www.wwu.edu/sites/all/themes/wwuzen/font/fontello.woff?84055489") format('woff'),
  url("http://www.wwu.edu/sites/all/themes/wwuzen/font/fontello.ttf?84055489") format('truetype'),
  url("http://www.wwu.edu/sites/all/themes/wwuzen/font/fontello.svg?84055489#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'Muli', sans-serif;
}
body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #003f87;
}

/*------------------------------------------------------------------------------
HEADER STYLES
------------------------------------------------------------------------------*/
header {
  background-color: #cce6f7;
}
.western-header {
  max-width: 1140px;
  margin: auto;
  position: relative;
  height: 135px;
}
.western-logo {
  background-color: #003f87;
  background-image: url('https://www.wwu.edu/sites/all/themes/wwuzen-home/images/logo-homepage.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.western-logo a {
  display: block;
  font-size: 0;
  width: 100%;
  height: 100%;
}
.site-header {
  padding: 0 10px;
  text-transform: uppercase;
  color: #003f87;
}
.site-header h2 {
  font-size: 1.8em;
  font-weight: 300;
}

/*-----------
QUICK LINKS
-----------*/
.western-quick-links {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  overflow: hidden;
}
.western-quick-links a {
  text-decoration: none;
  color: #003f87;
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s;
}
.western-quick-links span {
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s;
}
.western-quick-links a:hover {
  color: #006b3f;
}
.western-quick-links a:hover > span:first-child {
  color: #bad80a;
}
.western-quick-links ul {
  margin: -19px 44px 0 0;
  padding: 10px;
  background-color: white;
  font-size: .75em;
  -webkit-transform: translatex(120%);
  -ms-transform: translatex(120%);
  transform: translatex(120%);
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .1);
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .1);
  z-index: 1;
}
.western-quick-links li {
  display: inline-block;
  list-style: none;
  padding: 3px;
}
.western-quick-links ul li span:first-of-type {
  display: block;
  text-align: center;
  font-family: 'fontello';
  font-size: 1.825em;
  padding: 5px;
}
label[for="quick-links-trigger"] {
  background-color: #0070b6;
  background-image: url('https://www.wwu.edu/sites/all/themes/wwuzen/images/icons/standard-sffd081bd62.png');
  background-position: 0 -132px;
  position: absolute;
  right: 0;
  width: 44px;
  height: 44px;
  color: white;
  font-size: 0;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .1);
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .1);
  z-index: 2;
}
.quick-links-trigger:checked ~ ul {
  -webkit-transform: translatex(0);
  -ms-transform: translatex(0);
  transform: translatex(0);
}

/*------------------------------------------------------------------------------
SEARCH AREA STYLES
------------------------------------------------------------------------------*/
.search-wrapper {
  max-width: 1140px;
  margin: 80px auto;
}
table {
  width: 95%;
  margin: auto;
  background: transparent;
}
table table {
  width: 100%;
}
table a {
  white-space: normal !important;
}
/*----------
SEARCH BOX
----------*/
#ThunderstoneSearchForm {
  position: relative;
}
/* Hide "Search for this" text */
#ThunderstoneSearchForm th {
  width: 0;
}
#ThunderstoneSearchForm th font {
  font-size: 0;
}
#query {
  width: calc(60% - 44px);
  height: 50px;
  padding-left: 10px;
  border: solid #ccc 3px;
  font-size: 1em;
  font-weight: 300;
  vertical-align: top;
}
input[value="Submit"] {
  background-image: url('https://www.wwu.edu/sites/all/themes/wwuzen/images/icons/standard-sffd081bd62.png');
  border: solid #ccc 3px;
  border-left: 0;
  width: 50px;
  height: 50px;
  color: transparent;
}
input[value="Advanced"],
input[value="Hide Advanced"] {
  position: absolute;
  right: 0;
  right: 12px;
  width: calc(40% - 30px);
  height: 50px;
  border: 0;
  background-color: #ccc;
  font-size: 1em;
  font-family: 'Muli', sans-serif;
}
/* Hidden Fields */
label[for="query"],
label[for="refine"],
#refine {
  display: none;
}
/* Advanced Search Styles */
#ThunderstoneSearchForm > table:first-of-type td[width="5%"] {
  width: calc(70% - 30px);
}
#ThunderstoneSearchForm > table:first-of-type td[width="5%"] #query {
  width: 100%;
}
input[value="Hide Advanced"] {
  width: calc(25% - 30px);
}
[name="notq"],
[name="sq"]{
  width: 50%;
  margin: 10px 0;
  border: solid #ccc 3px;
  height: 50px;
  padding: 0 10px;
  font-size: 1em;
}
[name="sq"] {
  margin: 0 0 10px;
}

/*---------------------
SEARCH RESULTS EXTRAS
---------------------*/
/* Info about matching results and sort link */
#ThunderstoneSearchResults {
  margin-top: 20px;
}
#ThunderstoneSearchResults > table:first-of-type {
  margin-bottom: 30px;
}
#ThunderstoneSearchResults > table:first-of-type td {
  border-top: #0083d6 solid 2px;
  border-bottom: #0083d6 solid 2px;
  padding: 12px;
}

/*------------------------------------------------------------------------------
FOOTER STYLES
------------------------------------------------------------------------------*/
footer {
  background-color: #003f87;
  border-top: 10px solid #fff;
  -webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,.1);
  box-shadow: 0px 0px 100px 0px rgba(0,0,0,.1);
  font-family: 'Muli', sans-serif;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
}
.footer-wrapper {
  max-width: 1140px;
  margin: auto;
}
.footer-left {
  font-size: .8em;
  width: 80%;
  margin: auto;
}
.footer-left a {
  text-decoration: none;
  font-weight: 300;
}
.footer-center {
  width: 80%;
  margin: auto;
  font-weight: 300;
}
.footer-center a {
  display: block;
  line-height: 1.7em;
  border-bottom: solid white 1px;
}
.footer-right {
  width: 80%;
  margin: 25px auto 0;
}
.footer-right h1 {
  display: block;
  color: #003f87;
  background-color: white;
  font-weight: 400;
  font-size: 1.1em;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}
.western-contact-info,
.western-social-media {
  position: relative;
  margin: auto;
  padding: 2px 0;
}
.western-social-media {
  text-align: center;
}
.western-social-media ul {
  padding: 0;
}
.western-contact-info p:before {
  font-family: 'fontello';
  color: #ffc61e;
  float: left;
  position: absolute;
  left: 0;
  margin-top: 2px;
}
.western-contact-info p {
  padding-left: 20px;
  font-size: .8em;
  font-weight: 300;
}
.western-social-media a::before {
  width: 25px;
  height: 25px;
  font-family: 'fontello';
  font-size: 25px;
}
.western-social-media li {
  list-style: none;
  display: inline-block;
  padding: 0;
  -webkit-transition: ease .1s;
  -o-transition: ease .1s;
  transition: ease .1s;
}
.western-social-media li:hover {
  border-bottom: solid #bad80a;
  border-radius: 6px;
}
.western-social-media li a {
  font-size: 0;
}
/* Contact Icons */
.western-address:before { content: '\e800'; }
.western-telephone:before { content: '\21'; }
.western-contact:before { content: '\25'; }
/* Social Media Icons */
.westernIcons-WwuSocialIcon:before { content: '\e82a'; }
.westernIcons-FacebookIcon:before { content: '\101'; }
.westernIcons-FlickrIcon:before { content: '\102'; }
.westernIcons-GooglePlusIcon:before { content: '\103'; }
.westernIcons-InstagramIcon:before { content: '\104'; }
.westernIcons-TumblrIcon:before { content: '\105'; }
.westernIcons-TwitterIcon:before { content: '\106'; }
.westernIcons-RSSicon:before { content: '\107'; }
.westernIcons-YouTubeIcon:before { content: '\108'; }

/*------------------------------------------------------------------------------
RESPONSIVE STYLES
------------------------------------------------------------------------------*/
/*-------------------------
Intermediate Screen Sizes
-------------------------*/
@media screen and (min-width: 600px) {
  /*-----------
  HEADER
  -----------*/
  header {
    border-top: #0083d6 solid 4px;
  }
  .western-logo {
    width: 240px;
    height: 155px;
  }
  .site-header {
    position: absolute;
    left: 240px;
    -webkit-transform: translatey(-100%);
    -ms-transform: translatey(-100%);
    transform: translatey(-100%);
    padding: 0 30px 10px;
  }
}

/*-------------------------
Large Screen Sizes
-------------------------*/
@media screen and (min-width: 800px) {
  /*-----------
  QUICK LINKS
  -----------*/
  .quick-links-trigger,
  label[for="quick-links-trigger"] {
    display: none;
  }
  .western-quick-links a:hover {
    color: #0083d6;
  }
  .western-quick-links ul {
    margin-right: 0;
    margin-top: 12px;
    display: inherit;
    background-color: transparent;
    font-size: 1em;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translatex(0);
    -ms-transform: translatex(0);
    transform: translatex(0);
  }
  .western-quick-links li {
    padding: 0;
  }
  .western-quick-links li:after {
    content: '\0b7';
    margin: 0 10px;
  }
  .western-quick-links li:last-of-type:after {
    content: '';
  }
  .western-quick-links ul li span:first-of-type {
    display: none;
  }
  /*------
  FOOTER
  ------*/
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: stretch;
  }
  .footer-left,
  .footer-center,
  .footer-right {
    margin: 0;
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
  }
  .footer-left {
    padding: 0 15px;
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
  }
  .footer-center {
    padding: 15px;

  }
  .footer-right h1 {
    margin-top: 0;
  }
}

/*-------------------------
Very Large Screen Sizes
-------------------------*/
@media screen and (min-width: 1140px) {
  /*------
  FOOTER
  ------*/
  .footer-right {
    margin-top: -30px;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3a5a8f), color-stop(100%, #003f87));
    background: -webkit-linear-gradient(top, #3a5a8f,#003f87);
    background: -o-linear-gradient(top, #3a5a8f,#003f87);
    background: -webkit-gradient(linear, left top, left bottom, from(#3a5a8f),to(#003f87));
    background: linear-gradient(top, #3a5a8f,#003f87);
  }
  .footer-right h1 {
    -webkit-box-shadow: rgba(0,0,0,.2) 0 -3px 10px;
    box-shadow: rgba(0,0,0,.2) 0 -3px 10px;
  }
  .western-contact-info {
    margin-left: 15px;
  }
}
