<!-- Begin Footer -->

</section> <!-- End search wrapper -->

<footer role="contentinfo">
  <div class="footer-wrapper">

    <div class="footer-left">
      <h1><a href="http://www.wwu.edu">Active Minds Changing Lives</a></h1>
    </div>

    <div class="footer-center">
      <a href="http://www.wwu.edu/privacy/">Website Privacy Statement</a>
      <a href="https://www.wwu.edu/commitment-accessibility">Accessibility</a>
    </div>

    <div class="footer-right" role="complementary">
      <h1>Western Washington University</h1>
      <div class="western-contact-info">
        <p class="western-address">516 High Street<br>
          Bellingham, WA 98225</p>
        <p class="western-telephone"><a href="tel:3606503000">(360) 650-3000</a></p>
        <p class="western-contact"><a href="http://www.wwu.edu/wwucontact/">Contact Western</a></p>
      </div>

      <div class="western-social-media">
        <ul>
          <li><a class="westernIcons-WwuSocialIcon" href="https://social.wwu.edu">Western Social</a></li>
          <li><a class="westernIcons-FacebookIcon" href="http://www.facebook.com/westernwashingtonuniversity">Facebook</a></li>
          <li><a class="westernIcons-FlickrIcon" href="http://www.flickr.com/wwu">Flickr</a></li>
          <li><a class="westernIcons-TwitterIcon" href="https://twitter.com/#!/WWU">Twitter</a></li>
          <li><a class="westernIcons-YouTubeIcon" href="http://www.youtube.com/wwu">Youtube</a></li>
          <li><a class="westernIcons-GooglePlusIcon" href="https://plus.google.com/+wwu/posts">Google Plus</a></li>
          <li><a class="westernIcons-RSSicon" href="http://news.wwu.edu/go/feed/1538/ru/atom/">RSS</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>

<!-- End Footer -->
