<!-- Begin Header -->

<header role="banner">
  <section class="western-header" aria-label="University Links, Search, and Navigation">
    <div class="western-logo"><a href="http://www.wwu.edu">Western Washington University</a></div>

    <nav role="navigation" aria-label="University related navigation.">

      <div class="western-quick-links" aria-label="Western Quick Links">
        <input type="checkbox" id="quick-links-trigger" class="quick-links-trigger" aria-label="Toggle Quick Links"></input>
        <label for="quick-links-trigger">Toggle Quick Links</label>
        <ul>
          <li><a href="http://www.wwu.edu/academic_calendar" title="Calendar"><span aria-hidden="true">c</span> <span>Calendar</span></a></li>
          <li><a href="http://www.wwu.edu/directory" title="Directory"><span aria-hidden="true">d</span> <span>Directory</span></a></li>
          <li><a href="http://www.wwu.edu/index" title="Index"><span aria-hidden="true">i</span> <span>Index</span></a></li>
          <li><a href="http://www.wwu.edu/campusmaps" title="Map"><span aria-hidden="true">l</span> <span>Map</span></a></li>
          <li><a href="http://mywestern.wwu.edu" title="myWestern"><span aria-hidden="true">w</span> <span>myWestern</span></a></li>
        </ul>
      </div>

    </nav>

    <div class="site-header" aria-label="Site Header">
      <h2>Search</h2>
    </div>
  </section>
</header>

<section class="search-wrapper">

<!-- End Header -->
